.card_note {
	padding: 10px 0;
	color: #c3c1c1;
	background-color: #343434;
	line-height: 22px;
	font-size: 13px;
	.left {
		margin: 0 12px;
		padding: 5px 10px;
		border: 1px solid #c3c1c1;
		font-size: 170%;
		font-weight: 500;
		letter-spacing: 5px;
		vertical-align: middle;
	}
	a {
		color:#c3c1c1;
		text-decoration: underline;
	}
}
.footer {
	width: 100%;
	text-align: center;
	padding: 1.2rem 10px 2rem;
	line-height: 22px;
	font-size: 13px;
	background-color: #000;
	color: #fff;
	li {
		margin: 0 3px;
	}

	li.text {
		margin-right: 10px;
	}

	li img {
		width: 40px;
	}
}
@media only screen and (max-width: 991px) {
	.card_note {
		display: block !important;
		padding: 20px;
		text-align: center;
		* {
			font-weight: 400;
		}
		.left {
			width: 310px;
			max-width: 100%;
			margin: 0 auto 8px;
		}
	}
	.footer {
		padding-bottom: 20%;
		* {
			font-weight: 400;
		}
	}
}
@media only screen and (max-width: 768px) {
	.footer {
		padding-bottom: 22%;
	}
	.card_note .left {
		font-size: 160%;
	}
}